html {
    height: 100%;
}

#app {
    display: inline-block;
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
}

/* -------------- title bar  -------------------- */

#title-bar {
    width: 100%;
    height: 80px;
    color: white;
    background: #051264;
    text-align: center;
    overflow: hidden;
}

#title-bar h1 {
    margin: 0;
    font-size: 46px;
}

#title-bar p {
    margin: 0;
    font-size: 15px;
}

/* -------------- select league view -------------------- */

#select-view {
    height: 100%;
    margin: 0;  
}

#select-view p {
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffffff;
}

#league-list {
    height: 100%;
    overflow: auto;
    margin: 0;
    display: inline-block;
    background: #050b30;
}

.league-select {
    height: 20%;
    background: white;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;
}

.league-select img {
    height: 50%;
    margin-top: 50%;
}

.league-select:hover {
    opacity: 1.0;
}

/* -------------- probabilities view -------------------- */

#probabilities-view {
    height: 100%;
    margin: 0;
    width: 100%;
    display: table;
    border-spacing: 30px;
    flex-grow: 1;
    text-align: center;
}

#league-title {
    display: inline-block;
    font-size: 38px;
    margin-top: 2%;
    margin-bottom: 0;
}

.probabilities-container {
    width: 96%;
    height: auto;
    margin: 2%;
    display: inline-block;
    background: #051264;
    display: table-row;
}

.team-selector {
    display: inline-block;
    width: 48%;
    margin: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background: white;
}

.team-side {
    font-size: 25px;
    margin: 0.5%;
}

select {
    margin: 1%;
    background: white;
    cursor: pointer;
    font-size: 20px;
}

#result-container  {
    height: 100%;
    color: white;
}